.backgroundPage
{
	padding: 20px 0px 0px;
	text-align: center;
}

.backgroundTitle
{
	margin-bottom: 0px;
}

.btn-info
{
	width: 113px;
}

.caption
{
	text-align: center;
}

.construction
{
	display: table-cell;
	margin-top: 15%;
	margin-left: auto;
	margin-right: auto;
}

.faqPage
{
	margin: 0px 30px;
	padding-bottom: 10px;
}

.faqList
{
	padding-bottom: 0px;
}

.footNote
{
	margin-top: 160px;
	margin-bottom: 0px;
	padding-bottom: 10px;
	text-align: center;
}

.pageList
{
	margin: 0px 15px;
	padding: 0px 15px;
	text-align: justify;
}

.pictures
{
	float: left;
	margin-left: 0px;
	padding-left: 0px;
	
	width: 171px;
	height: 520px;
}

.question
{
	font-weight: bold;
	margin-top: 20px;
	margin-bottom: 0px;
}

.services
{
	background-color: #00349A;
	border-radius: 5px;
	color: #FFFFFF;
	
}

.textWelcome
{
	text-align: center;
	vertical-align: middle;
}

.title
{
	margin: 0px;
	padding-top: 10px;
	text-align: center;
}

.welcome
{
	float: right;
	margin-left: 5px;
	padding-left: 0px;
	padding-right: 0px;
	
	width: 428px;
}

@media (max-width: 790px)
{
	.pictures
	{
		display: none;
	}
}

@media (max-width: 635px)
{
	.tax
	{
		display: none;
	}
	
	.welcome
	{
		width: 100%;
		
	}
}

/*
* Functionality for the picture banner on the home page
*/
#banner1
{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}
#banner1 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#banner1 img.active{
	display:block;
}

#banner2{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}
#banner2 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#banner2 img.active{
	display:block;
}

#banner3{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}
#banner3 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#banner3 img.active{
	display:block;
}

#banner4{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}
#banner4 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}
#banner4 img.active{
	display:block;
}