/*
*HTML adjustments
*/
body {
	background-color: black;
}

li {
	padding-bottom: 25px;
}

p {
	margin-bottom: 20px;
}

/*
*Custom classes
*/
.check {
	float: right;
}

.cleanList
{
	list-style-type: none;
}

.collapseLinks {
	background-color: #00349A;
	color: white;
	
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 12pt;
	margin: 0px;
	padding-top: 25px;
	padding-left: 25px;
	text-align: center;
	vertical-align: top;
	
	width: 100%;
}

.container
{
	background-color: #fba126;
	margin-top: 15px;
	padding: 0px;
}

.dock
{
	padding: 0px 5px 0px;
}

.footer
{
	background-color: #fba126;
	font-size: 10px;
	padding: 0px;
	margin: 0px;
	text-align: center;
	
	width: 100%;
}

.howBold
{
	font-weight: bold;
}

.justified
{
	text-align: justify;
}

.links
{
	background-color: #00349A;
	border: 0px;
	border-radius: 5px;
	color: white;
	display: inline-block;
	font-size: 12pt;
	margin-top: 5px;
	margin-bottom: 0px;
	padding-top: 25px;
	padding-left: 25px;
	vertical-align: top;
	
	width: 171px;
	height: 520px;	
}

.linksButton {
	vertical-align: middle;
}

.logo {
	margin-top: 25px;
	margin-left: 45px;
}

.icon-bar
{
	background-color: #FFFFFF;
}

.navbar-collapse {
	border: 0px;
	margin: 5px 5px 0px 5px;
	max-height: 520px;
	padding: 0px;
}

.navbar-toggle {
	background-color: #00349A;
}

.noScroll {
	overflow: hidden !important;
}

.pageContent {
	display: inline-block;
	margin-top: 5px;
	
	width: 604px;	
}

.paul {
	margin-top: 25px;
}

.pointer {
	cursor: pointer;
}

.site
{
	background-color: #FBA126;
	border: 0px;
	margin-bottom: 0px;
	
	width: inherit;
}

.tasbar {
	background: url("../images/bannerBG.jpg");
	border: 0px;
	margin: 0px;
	padding: 0px;
	
	width: inherit;
	height: 117px;
}

.tasLeft {
	height: inherit;
}

.tasMiddle {
	height: inherit;
}

.tasRight {
	padding-right: 0px !important;

	height: inherit;
}

/*
*Screen responsiveness
*/
@media (min-width: 790px)
{
	.container
	{
		width: 790px;
	}
}
	
@media (max-width: 790px) {	
	.logo {
		margin-left: 15%;
	}
	.pageContent
	{
		width: 433px;
	}
	
	.tasLeft
	{
		display: none;
	}
	
	.tasMiddle {
		margin-top: 0px;
		margin-left: auto;
		margin-right: auto;
		padding-left: 25%;
		
		width: inherit;
		
	}
	
	.tasRight
	{
		display: none
	}
}
	
@media (max-width: 790px) and (min-width: 624px)
{
	.container
	{
		width: 619px;
	}
}

@media (min-width: 635px)
{
	.navbar-collapse.collapse
	{
		display: none !important;
	}
	
	.navbar-toggle
	{
		display: none !important;
	}
}
	
@media (max-width: 635px)
{	
	.container
	{
		width: 100%;
	}
	
	.links
	{
		display: none;
		padding-left: 0px;
		text-align: center;
		
		width: 100%;
		height: 395px;
	}
	
	.linksButton {
		float: right;
		margin-top: 80px;
		margin-right: 0px;
		vertical-align: bottom;
	}
	
	.logo {
		margin-left: 35%;
	}
	
	.navbar-toggle
	{
		display: inline-block;
	}
	
	.pageContent
	{		
		width: 100%;
	}
	
	.tasMiddle {
		padding-left: 0px;
		padding-right: 0px;
	}
}

@media (max-width: 415px) {
	.logo {
		margin-left: 25%;
	}
}

@media (max-width: 375px) {
	.logo {
		margin-left: 20%;
	}
}

@media (max-width: 325px) {
	.logo {
		margin-left: 15%;
	}
}