/*
*Classes for general page and bootstrap customizations
*/
body 
{
	background-color: black;
	font-family: "Arial";
}

ul
{
	margin: 0px;
	padding: 0px;
}

.pointer
{
	cursor: pointer;
}

.cleanList
{
	list-style: none;
}

.container
{
	background-color: #fba126;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	
	width: 790px;
	height: 647px;
}

.pageList
{
	margin-top: 10px;
	margin-left: 25px;
}

.pageList li
{
	padding-bottom: 15px;
}

.title
{
	margin-top: 0px;
	margin-bottom: 0px;
	padding-top: 5px;
	padding-left: 10px;
}

/*
*Classes used for the TASbar
*/
.check
{
	background: url("../images/check.png");
	float: right;
	margin-top: 0px;
	padding: 0xp;
	
	width: 217px;
	height: 117px;
}

.logo
{
	float: left;
	margin-top: 25px;
	margin-left: 50px;
	padding: 0px;

	
	width: 188px;
	height: 84px;
}

.paul
{
	background: url("../images/PaulTyrpak.png");
	float: left;
	margin-top: 25px;
	margin-left: 10px;
	padding: 0px;
	
	width: 273px;
	height: 73px;
}

.tasbar
{
	background: url("../images/bannerBG.jpg");
	margin: 0px;
	padding: 0px;
	
	width: inherit;
	height: 117px;
}

/*
*Classes for the information dock
*/
.caption
{
	text-align: center;
}

.construction
{
	margin-left: 130px;
}

.dock
{
	margin-top: 5px;
	margin-left: 5px;
	padding: 0px;
	
	width: 780px;
	height: 520px;
}

.links
{
	background-color: #00349A;
	border: 0px;
	border-radius: 5px;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	float: left;
	list-style: none;
	margin: 0px;
	padding-top: 10px;
	
	width: 170px;
}

.links li
{
	margin-left: 25px;
	padding-bottom: 10px;
}

.page
{
	width: 605px;
}

.pictures
{
	float: left;
	
	width: 171px;
	height: inherit;
}

.pageContent
{
	float: left;
	margin-left: 5px;
	padding: 0px;
	
	width: 605px;
	height: inherit;
}

.services
{
	background-color: #00349A;
	border-radius: 5px;
	color: white;

	
	width: inherit;
	height: inherit;
}

.tax
{
	margin-bottom: 0px;
}

.textWelcome
{
	margin-top: 0px;
	padding: 0px;
	text-align: center;
	vertical-align: middle;
	
	width: inherit;
	height: 130px;
}

.welcome
{
	float: right;
	margin-right: 2px;
	padding: 0px;
	
	width: 425px;
	height: inherit;
}

/*
*screen size reactions
*/
@media (max-width: 815px)
{
	.check
	{
		display: none;
	}
	
	.construction
	{
		margin-top: 0px;
		margin-left: 40px;
	}
	
	.container
	{
		width: 619px;
		height: 580px;
	}
	
	.dock
	{
		width: inherit;
		height: 460px;
	}
	
	.logo
	{
		margin-left: 225px;
	}
	
	.pageContent
	{	
		width: 433px;
		height: 440px;
	}
	
	.paul
	{
		display: none;
	}
	
	.pictures
	{
		display:none;
	}
}

@media (max-width: 650px)
{
	.construction
	{
		margin-left: 0px;
		
		width: inherit;
	}
	
	.container
	{
		width: 360px;
		height: 460px;
	}
	
	.dock
	{
		width: 350px;
		height: 333px;
	}
	
	.links
	{
		text-align: center;
		
		width: inherit;
	}
	
	.logo
	{
		margin-left: 90px;
	}
	
	.pageContent
	{
		margin-top: 5px;
		margin-left: 0px;
		
		width: inherit;
		height: 78px;
	}
	
	.tax
	{
		display: none;
	}
	
	.textWelcome
	{
		height: inherit;
	}
	
	.welcome
	{
		float: left;
		margin: 0px;
		width: inherit;
	}
}

@media (max-width: 618px)
{
	.container .tasbar
	{
		height: 117px;
	}
}



@media (max-width: 390px)
{
	.container
	{
		width: 230px;
		height: 495px;
	}
	
	.dock
	{
		width: 220px;
		height: 363px;
	}
	
	.logo
	{
		margin-left: 20px;
	}
	
	.pageContent
	{
		height: 113px;
	}
}

/*
*IDs for image swapping on the main page
*/
#banner1{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}

#banner1 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}

#banner1 img.active{
	display:block;
}

#banner2{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}

#banner2 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}

#banner2 img.active{
	display:block;
}

#banner3{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}

#banner3 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}

#banner3 img.active{
	display:block;
}

#banner4{
	position:relative;
	width:171px; /* Set your image width */
	height:130px; /* Set your image height */
}

#banner4 img{
	display:none;
	position:absolute;
	top:0;
	left:0;
}

#banner4 img.active{
	display:block;
}