body {
  padding-top: 20px;
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}

.navbar-default
{
	background: url("images/bannerBG.jpg");
	border-radius: 4px;
}

.navbar-collapse
{
	margin-top: 25px;
}

.row
{
	background: url("images/bannerBG.jpg");
	border-radius: 4px;
}

.buffer
{
	margin-top: 25px;
}