body {
	background-color: black;
}

li
{
	padding: 10px;
}

.container
{
	background-color: #fba126;
	margin-top: 15px;
	padding-left: 0px;
	padding-right: 0px;
}

/*
*classes used for the TASbar
*/
.check
{
	background: url("images/check.png");
	float: right;
	margin-top: 0px;
	
	width: 217px;
	height: 117px;
}

.logo
{
	margin-top: 25px;
	margin-left: 5px;
	
	width: 188px;
	height: 84px;
}

.paul
{
	background: url("images/PaulTyrpak.png");
	float:left;
	margin-top: 25px;
	margin-right: 25px;
	
	width: 273px;
	height: 73px;
}

.tasbar
{
	background: url("images/bannerBG.jpg");
	margin: 0px;
	padding-left: 10px;
	
	width: inherit;
	height: 117px;
}

@media (max-width: 765px)
{	
	.paul
	{
		margin-right: 0px;
	}
}

@media (max-width: 730px)
{
	.logo
	{
		margin-left: 0px;
	}
}

@media (max-width: 720px)
{
	.check
	{
		display: none;
	}
	
	.logo
	{
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}
	
	.tn
	{
		float: right;
	}
	
	.paul
	{
		display: none;
	}
}

@media (max-width: 618px)
{
	.container .tasbar
	{
		height: 117px;
	}

}
/*
*End of TASbar
*/

/*
*Information dock
*/
.information
{
	margin-top: 5px;
	margin-left: 0px;
	margin-right: 0px;
	
	width: inherit;
}

.links
{
	background-color: #00349A;
	border: 0px;
	border-radius: 5px;
	color: white;
	font-size: 12pt;
	font-weight: bold;
	margin-left: 5px;
	padding-top: 15px;
	
	width: 171px;
	height: 520px;
}

.pictures
{
	padding-left: 5px;
	width: 171px;
}

.textWelcome
{
	text-align: center;
	vertical-align: middle;
}

/*790px is when this goes outside the container*/
.welcome
{
	padding-left: 10px;
	width: 443px;
	height: 520px;
}


@media (max-width: 250px)
{
	.realign
	{
		float: left;
	}
}

@media (max-width: 618px)
{
	.container
	{
		height: 710px;
	}
	
	.links
	{
		text-align: center;
		width: 95%;
	}
	
	.row
	{
		height: 520px;
	}
	
	#prep
	{
		display: none;
	}
}

@media (max-width: 633px)
{
	.container
	{
		height: 710px;
	}
	
	.information
	{
		height: 710px;
		padding-right: 10px;
	}
	
	.links
	{
		text-align: center;
		
		width: 100%;
	}
	
	.welcome
	{
		height: 117px;
	}
	
	#prep
	{
		display: none;
	}
}

@media (max-width: 767px)
{
	.gone 
	{
		display: none;
	}
	.realign 
	{
		padding-left: 0px;
	}
}

@media (min-width: 768px)
{
	.realign 
	{
		padding-left: 60px;
	}
}

@media (min-width: 790px)
{
	.container
	{
		width: 790px;
	}
}

@media (max-width: 790px)
{
	.pictures
	{
		display: none;
	}
}